* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  }

#container {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

/* Mi occupo della parte superiore */

#sup {
  /* height: 900px; */
  width: 100%;
  background-color: red;
}

#sup::after {
  display: table;
  clear: both;
  content: "";
}

/* Parte sinistra  */

#left {
  height: 1400px;
  float: left;
  width: 250px;
  z-index: 10;
  background-color: blue;
  /* display: flex; */
}

#left #full {
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
}

#left ul {
  padding-left: 20px;
}

.botleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

/* Parte destra  */

#right {
  height: 100%;
  float: left;
  width: calc(100% - 250px);
  z-index: 10;
  background-color: yellow;
}

ul {
  list-style-type: none;
}

#right img {
  width: 230px;
  height: 200px;
  display: inline-block;
  margin-bottom: 30px;
}

.ron {
  border-radius: 50%;
}

.imgflex, .secimg {
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.secimg {
  width: 250px;
}

p {
  display: flex;
  justify-content: center;
}

.last {
  padding-bottom: 150px;
}

/* Mi occupo della parte inferiore  */

footer {
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: pink;
  position: fixed;
}

footer img {
  padding-left: 10px;
  padding-top: 10px;
}

/* Impostazioni generali  */

@media all and (min-width: 781px) {
  #left #logo {
    display: none;
  }

  li {
    display: inline-block;
    margin-right: 70px;
    font-size: 20px;
    padding-top: 20px;
  }

}



/* Impostazioni per i dispositivi più piccoli  */

@media all and (max-width: 780px) {

  #left #full {
    display: none;
  }

  #left #logo {
    padding-left: 10px;
    padding-top: 10px;
    width: 13vw;
    display: block;
  }

   li {
    font-size: 15px;
    padding-right: 10px;
    display: inline-block;
    padding-top: 20px;
  }
}
