* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  }

#container {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

/* Mi occupo della parte superiore */

#sup {
  height: 90vh;
  width: 100vw;
  background-color: red;
}

#sup::after {
  display: table;
  clear: both;
  content: "";
}

/* Parte sinistra  */

#left {
  height: 100%;
  float: left;
  width: 15vw;
  z-index: 10;
  background-color: blue;
}

/* Parte destra  */

#right {
  height: 100%;
  float: left;
  width: 85vw;
  z-index: 10;
  background-color: black;
}

/* Mi occupo della parte inferiore  */

#inf {
  height: 10vh;
  width: 100vw;
  background-color: pink;
}
